<div class="widget-wrap">
    <h3 class="widget-title">
        About
        <%- config.author %>
    </h3>
    <style>
        /* Use for round responsive profile picture*/
        .circle {
            position: relative;
            border-radius: 50%;
            width: 100%;
            height: auto;
            background: white;
        }
    </style>
    <div class="widget">
        <p>
            <img src="/imgs/maxime.jpg" class="circle" alt="<%- config.author%>" />
        </p>
        <p>I'm a Microsoft Cloud Developer Advocate, full time dad, part time coffee zombie. Without coffee, my code is like
            zombies. It decays.
        </p>
    </div>
</div>