<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="FeedRssRedirect" stopProcessing="true">
                    <match url="^feed/rss$"/>
                    <action type="Redirect" url="/atom.xml"/>
                </rule>
                <rule name="FeedRedirect" stopProcessing="true">
                    <match url="^feed$"/>
                    <action type="Redirect" url="/atom.xml"/>
                </rule>
                <rule name="RssRedirect" stopProcessing="true">
                    <match url="^rss$"/>
                    <action type="Redirect" url="/atom.xml"/>
                </rule>
                <rule name="MaximeRouiller enforce URL" stopProcessing="true">
                    <match url="(.*)" />  
                    <conditions>  
                        <add input="{HTTP_HOST}" negate="true" pattern="^blog\.maximerouiller\.com$" />
                    </conditions> 
                    <action type="Redirect" url="https://blog.maximerouiller.com/{R:1}" redirectType="Permanent" /> 
                </rule>
            </rules>
        </rewrite>
        <urlCompression doDynamicCompression="true" doStaticCompression="true"/>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00"/>

            <remove fileExtension=".woff"/>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
            <mimeMap fileExtension=".xml" mimeType="application/rss+xml"/>
        </staticContent>
    </system.webServer>
</configuration>
