<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
	<rewrite>
	        <rules>
	            <rule name="SpecificRedirect" stopProcessing="true">
	                <match url="^/feed/rss$" />
	                <action type="Redirect" url="/atom.xml" />
	            </rule>
	        </rules>
	    </rewrite>
		<urlCompression doDynamicCompression="true" doStaticCompression="true" />
		<staticContent>
		  <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00" />
		  
		  <remove fileExtension=".woff" />
		  <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>
	</system.webServer>
</configuration>
